/__pycache__/*
/*.pyc
/.DS.Store
/tags
*/logs
*/ckpt
*/.ipynb_checkpoints
*/.idea
*/.vscode
*/.pytest_cache
*/.cache
*/.git
*/.gitignore
*/.gitattribute
*/checkpoints
*/__pycache__
*/.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
